.local
.local*

# compiled output
/dist
/lib
/node_modules
/uploads
/local-dump
**/*/node_modules
**/*/dist
**/*/lib
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
**/.history/**


# Environmental variables
.env
**/*/tsconfig.tsbuildinfo
tests/k6/config.env
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

playwright/.auth
tests/config.env
tests/testresultsjsons*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
